---
import SeriesCard from "@/components/SeriesCard.astro";
import Pagination from "@/components/Pagination.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import siteConfig from "@/site.config";
import { postSeries } from "@/utils/collections";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  return paginate(postSeries, { pageSize: siteConfig.pageSize * 2 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const series = page.data;
---

<Layout
  title="Series"
  description="Explore Oscar R.C.'s blog posts series and read them in order."
>
  <Section class="flex flex-col gap-8">
    <div class="flex flex-col gap-16 flex-1">
      <div class="flex flex-col gap-8">
        {
          series.map((s) => (
            <SeriesCard seriesName={s.name} postsCount={s.postCount} />
          ))
        }
      </div>
      <Pagination
        prevLink={page.url.prev}
        prevText="Newer Series"
        nextLink={page.url.next}
        nextText="Older Series"
      />
    </div>
  </Section>
</Layout>
