---
import SectionButton from "@/components/SectionButton.astro";
import Typewritter from "@/components/Typewritter.astro";
import Layout from "@/layouts/Layout.astro";

const error = "Internal Server Error";
---

<Layout>
  <div class="flex flex-col flex-1 items-center justify-around p-4">
    <div class="flex flex-col gap-4 items-center justify-center">
      <pre
        class="text-primary leading-tight whitespace-pre font-mono">
███████╗  ██████╗   ██████╗
██╔════╝ ██╔═══██╗ ██╔═══██║
███████╗ ██║   ██║ ██║   ██║
     ██║ ██║   ██║ ██║   ██║
██████╔╝ ╚██████╔╝ ╚██████╔╝
╚═════╝   ╚═════╝   ╚═════╝
    </pre>
      <Typewritter class="text-primary" length={error.length}>
        {error}
      </Typewritter>
    </div>
    <SectionButton href="/">Go back home</SectionButton>
  </div>
</Layout>
