---
import AboutCard from "@/components/AboutCard.astro";
import GithubCalendar from "@/components/GithubCalendar.astro";
import config from "@/site.config";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import Section from "@/components/Section.astro";

const home = await getCollection("home");
const github = config.github;

let AboutContent;
let aboutAvatar;
let aboutTitle;

if (home.length > 0) {
  const homeEntry = home[0];
  const { Content } = await render(homeEntry);
  AboutContent = Content;
  aboutTitle = homeEntry.data.title;
  aboutAvatar = homeEntry.data.avatar;
}
---

<Layout>
  <Section class="flex flex-col gap-16">
    <AboutCard title={aboutTitle} avatar={aboutAvatar}>
      {AboutContent && <AboutContent />}
    </AboutCard>
    {github && <GithubCalendar username={github} />}
  </Section>
  <Section title="Personal Projects">
    <p>Coming soon...</p>
  </Section>
  <Section title="Latest post">
    <p>Coming soon...</p>
  </Section>
</Layout>
