---
import Typewritter from "./Typewritter.astro";

const currentPath = Astro.url.pathname;
const crumbs = currentPath
  .split("/")
  .filter((crumb) => crumb !== "")
  .map((crumb, index, array) => {
    const path = "/" + array.slice(0, index + 1).join("/");
    return { name: decodeURIComponent(crumb), path };
  });
---

{
  crumbs.length == 0 ? null : (
    <div class="badge badge-soft badge-primary badge-xl text-left px-1 justify-start items-start">
      <Typewritter length={currentPath.length}>
        <div class="p-0 overflow-hidden">
          <ul class="path flex">
            {crumbs.map((crumb, index) => (
              <li>
                {index < crumbs.length - 1 ? (
                  [
                    <a href={crumb.path}>
                      {crumb.name}
                    </a>,
                  ]
                ) : (
                  <span>{crumb.name}</span>
                )}
              </li>
            ))}
          </ul>
        </div>
      </Typewritter>
    </div>
  )
}
