---
import Icon from "./Icon.astro";

interface Props {
  id: string;
  title?: string;
}

const { id = "modal", title } = Astro.props;
---

<dialog id={id} data-modal={id} class="modal">
  <div class="relative modal-box border border-double shadow-sm">
    {title ? <h3 class="font-bold text-lg"># {title}</h3> : null}
    <div class="modal-body mt-4">
      <slot />
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button
          aria-label="Close"
          class="btn btn-sm btn-ghost fixed top-1 right-0"
        >
          <Icon name="close" />
        </button>
      </form>
    </div>
  </div>
</dialog>

<script>
  document.querySelectorAll("dialog[data-modal]").forEach((dialog) => {
    dialog.addEventListener("click", (event) => {
      if (event.target === dialog) {
        (dialog as HTMLDialogElement).close();
      }
    });

    document.addEventListener("keydown", (event) => {
      if (event.key === "Escape") {
        (dialog as HTMLDialogElement).close();
      }
    });
  });
</script>
