---
import Icon from "./Icon.astro";
import siteConfig from "@/site.config";

const { brand, links } = siteConfig;
---

<nav class="space-y-4">
  <div class="navbar bg-primary/50 shadow-sm rounded-lg p-0 min-h-0">
    <div class="flex-1">
      <a href="/" class="btn btn-primary text-xl">{brand}</a>
    </div>
    <div class="join">
      <button class="btn btn-ghost btn-square">
        <Icon name="search" class="text-2xl font-bold" />
      </button>
      <button class="btn btn-ghost btn-square">
        <Icon name="help" class="text-2xl font-bold" />
      </button>
      <button class="btn btn-ghost btn-square block sm:hidden">
        <Icon name="menu" class="text-xl font-bold" />
      </button>
    </div>
  </div>
  <div class="font-thin text-sm hidden sm:flex justify-end gap-2">
    {
      Object.entries(links).map(([key, url]) => (
        <>
          [{" "}
          <a href={url} class="underline capitalize" name={key}>
            {key}
          </a>{" "}
          ]{" "}
        </>
      ))
    }
  </div>
</nav>
