---
import Icon from "./Icon.astro";
import SectionButton from "./SectionButton.astro";

interface Props {
  prevLink?: string;
  prevText?: string;
  nextLink?: string;
  nextText?: string;
}

const { prevLink, prevText, nextLink, nextText } = Astro.props;
---

<div
  class:list={[
    "flex w-full gap-4 flex-wrap",
  ]}
>
  {
    prevLink && (
      <SectionButton href={prevLink} aria-label="Previous Page" class="mr-auto capitalize">
        <Icon name="chevronLeft" class="mr-2"/>
        {prevText || "Previous"}
      </SectionButton>
    )
  }
  {
    nextLink && (
      <SectionButton href={nextLink} aria-label="Next Page" class="ml-auto capitalize">
        {nextText || "Next"}
        <Icon name="chevronRight" class="ml-2" />
      </SectionButton>
    )
  }
</div>
