---
import { range } from '@/utils/array';

interface Props {
  title?: string;
  class?: string;
}

const { title, class: className = "" } = Astro.props;
---

<section class={className}>
  {
    title && (
      <h2 class="flex flex-col text-primary text-2xl">
        > {title}
        <span class="truncate">
          {range(title ? title.length + 3 : 0)
            .map(() => "-")
            .join("")}
        </span>
      </h2>
    )
  }
  <slot />
</section>
