---
interface Props {
  length: number;
  class?: string;
}

const { class: className = "", length = 5 } = Astro.props;
const animationDuration = length * 0.05;
const animationSteps = length;
---

<div class="flex items-start">
  <span
    class={`inline-block overflow-hidden whitespace-nowrap border-r-10 px-1 ${className}`}
    style={`animation: typing ${animationDuration}s steps(${animationSteps}, end), caret 1000ms step-end infinite;`}
  >
    <slot />
  </span>
</div>
