---
import BadgesCard from "@/components/BadgesCard.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Pagination from "@/components/Pagination.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import siteConfig from "@/site.config";
import { getSortedCollection, getSortedTags } from "@/utils/collections";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  const projects = await getSortedCollection("projects");
  return paginate(projects, { pageSize: siteConfig.pageSize });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const projects = page.data;
const tags = (await getSortedTags(["projects"])).slice(0, 10);
---

<Layout>
  <Section class="flex flex-col gap-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col gap-8 lg:min-w-full">
        {projects.map((project) => <ProjectCard project={project} />)}
        <Pagination
          prevLink={page.url.prev}
          prevText="Newer Projects"
          nextLink={page.url.next}
          nextText="Older Projects"
        />
      </div>
    </div>
  </Section>
  <div class="lg:sticky lg:top-10 flex flex-col gap-8 py-8" slot="right">
    <BadgesCard badges={tags} base="tag" title="Top tags" variant="primary" />
  </div>
</Layout>
