@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply font-mono;
    }

    :root {
        --scrollbarTrack: hsla(var(--b));
        --scrollbarThumb: hsla(var(--n));
        --scrollbarThumbHover: hsla(var(--p));
    }
    
    ::-webkit-scrollbar {
        width: 5px;
        border-radius: var(--rounded-box, 1rem);
    }
      
          
    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--scrollbarTrack);
        border-radius: var(--rounded-box, 1rem);
    }
        
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--scrollbarThumb);
        border-radius: var(--rounded-box, 1rem);
    }
        
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbarThumbHover);
    }
    
    ::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb{      
        background: var(--scrollbarThumbHover);
    }

    @screen sm {
        ::-webkit-scrollbar {
            width: 12px;
        }
    }
    
}

@layer components { 
    .menu-button{
        @apply bg-transparent;
    }
    .menu-button:hover, .menu-button:focus, .menu-button:active, .menu-button.active {
        @apply bg-transparent text-accent;
    }     

    .mockup-window .url {
        width: calc(100% - 10rem);
    }

    @media (max-width: theme('screens.sm')) {        
        .menu {
            @apply fixed top-0 left-0 bg-base-100 w-full h-screen justify-center p-16 transition-opacity duration-500 ease-in-out translate-y-full opacity-0;
        }

        .menu.open{
            @apply translate-y-0 opacity-100;
        }

        .menu-button:before {
            content: '> '
        }

        .navbar .dropdown-content {
            @apply top-12 left-0 w-full
        }
    }
}

@layer utilities {
    .writing-mode-vertical {      
        writing-mode: vertical-rl;
    }

    @supports (-webkit-text-stroke: 1px hsla(var(--s))) {
        .text-outline  {
          -webkit-text-stroke: 1px hsla(var(--s));
          color: transparent;
        }
    }
}