---
import Layout from "./Layout.astro";
import Section from "@/components/Section.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <Section class="flex flex-col gap-16">
    <article class="prose prose-invert max-w-none">
      <slot />
    </article>
  </Section>
</Layout>
