---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Layout from "./Layout.astro";
import Section from "@/components/Section.astro";
---

<Layout>
  <Section class="flex flex-col gap-16">
    <Breadcrumbs />
    <article class="prose prose-invert max-w-none">
      <slot />
    </article>
  </Section>
</Layout>
